
/* Base Styles */
body {
    transition: background-color 0.3s, color 0.3s;
}

/* Navbar and Footer Transitions */
.navbar, .footer {
    transition: background-color 0.3s, color 0.3s;
}

.navbar a, .footer a {
    transition: color 0.3s;
}

/* Mode Switcher Styles */
#modeSwitcherMenu a {
    color: #000000;
}

#modeSwitcherMenu a:hover {
    background-color: #f0f0f0;
}

#modeSwitcherBtn {
    color: #000000;
}

/* Light Mode */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.light-mode textarea {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ccc;            
}

.navbar.light-mode, .footer.light-mode {
    background-color: #c6c9cb;
    color: #000000;
}

.navbar.light-mode a {
    color: #000000;
}

.navbar.light-mode a:hover {
    color: #555555;
}

.footer.light-mode a {
    color: #000000;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.navbar.dark-mode, .footer.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff;
}

.navbar.dark-mode a {
    color: #ffffff;
}

.navbar.dark-mode a:hover {
    color: #bbbbbb;
}

.footer.dark-mode a {
    color: #ffffff;
}

body.dark-mode input {
    color: #191c1c;
    background-color: #ffffff; /* Match the cyan background */
    border-color: #000000; /* Optional: accent color for the border */
}

body.dark-mode h2 {
    color: white;
}
body.dark-mode textarea {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #555;
}
/* Topher Mode */
body.topher-mode {
    background-color: #38b1b5; /* cyan-ish */
    color: #ffffff; /* white */
}

.navbar.topher-mode, .footer.topher-mode {
    background-color: #FF5B00; /* teal-ish */
    color: #ffffff;
}

.navbar.topher-mode a {
    color: #ffffff;
}

.navbar.topher-mode a:hover {
    color: #b2dfdb; /* Lighter teal */
}

.footer.topher-mode a {
    color: #ffffff;
}

body.topher-mode input, .topher-mode textarea {
    color: #1fbcd1;
    background-color: #ffffff; /* Match the cyan background */
    border-color: #000000; /* Optional: accent color for the border */
}

/* Custom Mode Styles */
body.custom-mode, .custom-mode textarea {
    background-color: var(--bg-color, pink);
    color: var(--text-color, black);
}

.navbar.custom-mode, .footer.custom-mode {
    background-color: var(--bg-color, pink);
    color: var(--text-color, black);
}

.navbar.custom-mode a {
    color: var(--accent-color, #38b1b5);
}

.navbar.custom-mode a:hover {
    color: var(--accent-color, #38b1b5);
}

.footer.custom-mode a {
    color: var(--accent-color, #38b1b5);
}

body.custom-mode input {
    background-color: var(--bg-color, pink);
    color: var(--text-color, black);
    border-color: var(--text-color, black);
}

/* Additional Styles for Validation */
.valid {
    color: green;
}

.invalid {
    color: red;
}

/* - - - - - - - - */

