<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GG{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <!--css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Additional Styles -->
    {% block styles %}
    {% endblock %}
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar bg-white shadow">
        <div class="container mx-auto px-4 py-4 flex justify-between items-center">
            <a href="{{ url_for('home') }}" class="text-2xl font-bold">GG</a>
            <ul class="flex space-x-6 items-center">
                <li><a href="#" class="text-gray-600 hover:text-gray-800">A</a></li>
                <li><a href="{{ url_for('home') }}" class="text-gray-600 hover:text-gray-800">Home</a></li>
                <li><a href="{{ url_for('game') }}" class="text-gray-600 hover:text-gray-800">Games</a></li>

                {% if session.get('user_id') %}
                    <li><a href="{{ url_for('settings') }}" class="bg-purple-500 text-white px-4 py-2 rounded-lg hover:bg-purple-600 transition">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}" class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition">Login</a></li>
                    <li><a href="{{ url_for('register') }}" class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto mt-6 px-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer bg-white shadow mt-8">
        <div class="container mx-auto px-4 py-6 text-center">
            &copy; GG_jessicay38_kevinl713_tiffanyy31_tracyy10
        </div>
    </footer>

    <!-- Scripts -->
    {% block scripts %}

    {% endblock %}
</body>
</html>