<!DOCTYPE html>
    <html lang="en">
    <head>
        <title> Crossy in Progress </title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    
    <body class="bg-slate-300">
        <div>
            <canvas height="600" width="600" class="bg-white" id="slate">
              This is the alternate text you seek.
            </canvas>
        </div>

        <button id="buttonToggle">rect|circ</button>
        <button id="buttonClear">wipe</button>
        
        <div class="">
            <canvas id="car" class="bg-white h-2/3 w-2/3"> test </canva>
        </div>
        <div class="">
            <button id="create"> new car </button>
            <br>
            <button id="stop"> stap </button>
        </div>
        
        <script src="../static/js/movement.js"></script> <!-- must be after HTML is loaded -->
    </body>
    
</html>