{% extends "base.html" %}
{% block title %}Home - GG{% endblock %}
{% block content %}
<div class="mt-8">
    <!-- search bar -->
    <div class="flex justify-center mb-6 mt-6">
        <input type="text" placeholder="Users..." class="w-2/3 p-3 border border-gray-400 rounded-l-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
        <button class="bg-blue-500 border border-gray-400 text-white px-6 rounded-r-lg hover:bg-blue-600 transition">Search</button>
    </div>

    <!-- google map -->
     <div id="map" class="w-full h-96 rounded-lg shadow-lg mt-20"></div>

     {% set ns = namespace(day_counter=1) %} <!-- namespace to hold counter -->

{% endblock %}